@page
@model Oidc.Mock.Pages.Connect.SigninModel
@{
    ViewData["Title"] = "Sign in";
}

<main>
    <img src="~/logo.svg" alt="logo" class="logo">
    <h2 class="action-text">Sign in as specific personas</h2>

    <form asp-antiforgery="false" method="post" id="user-selection-form">
        @foreach (var user in Model.Users)
        {
            @if (user.isSelectable)
            {
                <button name="name" value="@user.Name" type="submit" class="peopleButton">
                    <div class="image">
                        <img src="@user.ImageUrl" />
                    </div>
                    <div class="details">
                        @if (user.UserinfoToken.ContainsKey("nemid.company_name"))
                        {
                            <div class="details-company">@user.UserinfoToken["nemid.company_name"]</div>
                        }
                        <div class="details-name">@user.Name</div>
                        <p>@user.Description</p>
                    </div>
                </button>
            }
        }
    </form>
</main>
