@page
@model Oidc.Mock.Pages.Connect.SigninModel
@{
    ViewData["Title"] = "Sign in";
}

<main class="signin-container">
    <h2 class="action-text">Sign in as a specific persona</h2>
    <p class="action-subtext">Select one of the personas below to continue the sign-in process.</p>

    <form asp-antiforgery="false" method="post" id="user-selection-form">
        @foreach (var user in Model.Users)
        {
            @if (user.isSelectable)
            {
                <button name="name" value="@user.Name" type="submit" class="peopleButton">
                    <div class="image">
                        <img src="@user.ImageUrl" alt="Profile image for @user.Name" />
                    </div>
                    <div class="details">
                        @if (user.UserinfoToken.ContainsKey("nemid.company_name"))
                        {
                            <div class="details-company">@user.UserinfoToken["nemid.company_name"]</div>
                        }
                        <div class="details-name">@user.Name</div>
                        <p>@user.Description</p>
                    </div>
                </button>
            }
        }
    </form>
</main>
